.roomWrap {
  display: grid;
  align-content: space-between;
  grid-template-columns: 0fr 1fr;
  justify-items: end;
  align-items: start;
  position: relative;

  padding: 32px;
  width: 343px;
  height: 298px;
  border-radius: 12px;
  border: 1px solid #d5d5d5;
  background-color: var(--white);
}

.roomNumber {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.roomWrap :nth-child(1) {
  grid-column: 2;
}

.roomWrap :nth-child(2) {
  grid-row: 1;
}

.roomWrap :nth-child(3) {
  grid-row: 2;
  grid-column: 2;
}
