.roomContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 32px;
  width: 343px;
  height: 298px;
  border-radius: 12px;
  border: 1px solid #d5d5d5;
  background-color: var(--white);
}

.top {
  display: flex;
  justify-content: flex-start;
}

.bottom {
  display: flex;
  justify-content: flex-start;
  align-items: end;
}

.roomNumber {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
