@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,500;1,500&family=Kanit:wght@500&family=Montserrat:wght@100..900&family=Mulish:ital@0;1&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  --font-family: 'Montserrat', sans-serif;
  --second-family: 'Inter', sans-serif;
  --third-family: 'Mulish', sans-serif;
  --font3: 'Kanit', sans-serif;
  --font4: 'Josefin Sans', sans-serif;

  color: #171515;
  background-color: #d9d9d9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white: #f7f7f7;
  --black: #171515;
  --grey: #8d8d8d;
  --light-grey: #b3b3b3;
  --dark-grey: #585858;
  --blue: #0057b7;
  --light-blue: #3380d0;
  --yellow: #ffdd00;
  --light-yellow: #ffe866;
  --green-feeling: #ddf3cf;
  --yellow-feeling: #ffeba2;
  --red-feeling: #f3dccf;
  --btn-color: #2a415b;
  --btn-active-color: #2a415b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
