.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: var(--dark-grey);
  color: var(--white);
  padding: 20px;
}

.titleContainer {
  padding: 40px 0;
}

.title {
  display: flex;
  align-items: center;
  font-size: 90px;
}

.counter {
  margin: 20px auto;
  font-size: 20px;
  font-weight: 500;
}

.button {
  width: fit-content;
  margin-top: 20px;
  padding: 0 16px;
}
